.*.sw?
*.iml
.idea
_site
_cache

*.gem
*.lock

# when switching branches, it's common for these directories to get left around because of the /target build files maven produces
proctor-ant-plugin
proctor-builder
proctor-codegen-test
proctor-codegen
proctor-common
proctor-consumer
proctor-maven-plugin
proctor-store-svn
proctor-store
