/* foundation.css additions start */
span.inline, select.inline  { line-height: 32px; margin: 0 0 12px 0; }
.ui-form-buttons { text-align: center; }
div.ui-panel-buttons { background-color: #FFF; border-color: #2BA6CB }

div.alert-box.warning { background-color: #FF6C3C; border-color: #FF4609; color: #FFF; }

.button.hide { display:none; }

.nav-bar { overflow: hidden; }
.nav-bar > li.nav-bar-right { float: right; padding: 0 20px; }
.nav-bar > li.nav-bar-right:hover { background-color: inherit;}
.nav-bar-right .sub-nav { margin: 0; padding: 0}
.nav-bar-right .sub-nav dt { color: white }
.nav-bar-right .sub-nav dt, .nav-bar-right .sub-nav dd { margin: 0; margin-left: 10px; }

.ui-popover > .inner { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.ui-popover > .inner {
    background-color: #F2F2F2;
    border: solid 1px #E6E6E6;

}
.ui-popover .inner > .hd {
    background-color: #E6E6E6;
    border-bottom: 1px solid #DDD;
}
.ui-popover .inner > .bd, .ui-popover .inner > .hd { padding: 10px; }
/* foundation.css additions end */

.collapsible.collapsed .collapse-area { display:none; }

.field-label {font-weight: bold;}
table.w100 { width: 100%; }
table.fixed { table-layout: fixed; }
table.tleft td, table.tleft th { text-align: left }
table.tright td, table.tleft th { text-align: right }
table.line-wrap td { word-wrap: break-word; }

.ui-test-name { word-break: break-all;}

.ui-test-definition .hd .field-label { margin-right: 5px }
.ui-test-definition .hd .media .field-label { min-width: 200px }
.ui-test-definition .bd .media .field-label { width: 200px; }
/* .ui-test-definition .def-history { text-align: right; } */
/* .ui-test-definition .button-group { float: right; } */

.ui-allocation-bar { display: block; border: 1px solid #BBB; overflow: hidden; padding: 5px; background-color: #FFF;}
.ui-allocation-range { display: inline-block; float:left; text-align: center; white-space: nowrap; padding: 5px 0; overflow: hidden;}
.ui-allocation-range-lbl { text-align: center; }

/* http://colorbrewer2.org/ - 12 bucket qualitative */
.ui-color0 { background-color: #8DD3C7;}
.ui-color1 { background-color: #FFFFB3;}
.ui-color2 { background-color: #BEBADA;}
.ui-color3 { background-color: #FB8072;}
.ui-color4 { background-color: #80B1D3;}
.ui-color5 { background-color: #FDB462;}
.ui-color6 { background-color: #B3DE69;}
.ui-color7 { background-color: #FCCDE5;}
.ui-color8 { background-color: #D9D9D9;}
.ui-color9 { background-color: #BC80BD;}
.ui-color10 { background-color: #CCEBC5;}
.ui-color11 { background-color: #FFED6F;}
.ui-color-swatch { width: 1em; height: 1em; display: inline-block; border: 1px solid black;}

.ui-expand-collapse.ui-expanded .ui-expand { display: none; }
.ui-expand-collapse.ui-collapsed .ui-collapse { display: none; }
.ui-expand-collapse.ui-collapsed .ui-expand-collapse-bd { display: none}


.ui-def-hist-commit { border-bottom: 1px solid #DDD }

.ui-tagbar { overflow: hidden; }
.ui-tagbar-right { float: right;}

.ui-job-monitor-popup-bg {
   background : rgba(120, 120, 120, 0.5);
   position : fixed;
   left : 0;
   top : 0;
   bottom: 0;
   right: 0;
   outline : none;
   z-index: 1000;
}
.ui-job-monitor-popup {
    width: 600px; margin: 0 auto; z-index: 1001;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ui-job-monitor-popup-ft { text-align: center; }
.ui-job-monitor-log { height: 200px; }

.ui-allocation-bar-container { min-width: 200px; }

.ui-help-button {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    line-height: 24px;
    color: #fff;
    background-color: #2ba6cb;
    text-align: center;
    font-weight: bold;
}

.ui-help-button:hover, .ui-help-button:focus {
    color: #fff;
}

/* Filter */
.js-filter-active {
    padding-left: 5px;
}
.js-filter-num-matched, .js-filter-num-all {
    font-weight: bold;
}
.js-filter-sorted-by {
    width: auto;
}

.favorite {
    display: block;
    padding: 24px 24px 0 0;
    background:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAADeklEQVRIS62Uf2gbZRjHv897l0wUFKfOiYLISJ0wRYTpP4I4yxTxH1F0KM5VMG0uvUsnVWpzmbdekjntaHNJ7jocMmFOtHTIQGRDBRVERPAHMkpTi/7h1lGwCJWNNfc8ko5I3Gpy092f9z7P9/M+z/N+H8IlfKnM8F0i4Amv+FPUNIoaCIDSlv21AHXfy98PQKLkRgYYlv0IgfadFyWr6o18ejkBZFj2VyAZF1GasPROVPIPXDZAyrS7SdhbOF27syF6/U0bT0CQDMru550gUVpEKdP+giC+Xy681xA0MrntEN7he4Ut/xtgWLseBMRfODW9aXJyMmwIOo6jn/69Pg2hnqDsftkO8q8VOI6jTi7iFl3qhyCy3y8X3m0VSpu5FxjyHMVk+7qrY785jsOrgcg0X72hDn0jKekiICEhdQGSYGADFC8qwTcL87Unm7dviiSTyZi64sZJJXIPiK8DqzloPENQNTDNMFDTUZ+mPit7SjERlHwEQk0BNWI1u2bNmdnR0dE/O/W4cZ5MOlfG4+EGJklASRcECRA/xkLnyBgYvpuZPtagMlXP/SCKYKcYw8w+C6E3FejhlRn0WcObABwjaC8Hnnu4k0C785Rl9xDDDSncur+858TfQzYG7DuY+TiB7MArvPNfIIZp9wLIEofd1eqemRXPtwr1WnZCZ3wCRW7Vcw9cCiRtZq2Q6KWY4KFyOf9zM/eiZ9rfb9/GIp+RpgpRISnLNollgARbqtXCr60XW9UHhpnbwUq2TpTyz0SpwujPHQHx1IVeuahFTbG0ZRdBslQtFYqRAJY9QkRSLbmvXRi/egVW7qiQHAhK+aNRAGkr95RQ+LRfKj4RCZCy7Dloencw5sz9Yz2ks7eGsRhNjDu/tP5vvEBh+jDw3Ns7AgYHB69aOhefX782fk1zvxiGsx7achaQbSt9JfW+1PW87zvz552cjKn4uj/OLulrDx50zrYdspHJbW5sT7+U35xKDV1LsdgrDHmRCG+reri3kSyaPsSQHgV6S5aX3wiC1xcN0/4BGj/vjxe/bwtoOFHAj2pE34VCAwoypVh3K5XdJ1sT+3Zmb9aWsStU9DgBYyR8ryhtKii5h9oC0lZun0B2AjgMTXP8sd2z7QbdMKdijJDCNiLsrZbyQ+0Bmdx9jPBMUCr+GOUFNWMaS1PVSa9UCt+25v0FLBh0RRaDnCQAAAAASUVORK5CYII=)
            no-repeat
            left center;
}

.favorite-toggled {
    background:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAADl0lEQVRIS7XVXUxbdRjH8e85fYF20iJQGOkAIdNsuBdlGi62jBm2mVVvUBckLHGJYyHTORfdxSYqbhmJJpJFl9UImSayoVmiaBxeMHFxW2KmAS7ciBcEV9iQUrpSCvTlvJh/XxB1K6jx3PzPyen/8/z69DmnEv/TIf0T92bffv9M0D/5wJYz9y+2b8nwp8eyD9Q2eU5AkPZXS55ueFf9PB2+ZHik77B3xcMvOEDml943B1dVt5X/Z/js0bw9da93tsEywAKRMdqPuJ5oaKX7bviSEl/v2X1t9dZd5ejTIJmBbPq7TlysqDn32L+Cvz5VfO9ym7Nx/danWowOB8xGE7A1l/DIEH3d7n3e8HhnzcFA4K8F5hP3f1JRH5rRV6kY8m059qIsW/Z9FlvWykJnsUm2WyCmgG5KJs4As43YpJ/fRofnwsGpoVDI55ma9HtMathrlpVr87Cv50k995FKkEQqA4g7ugLhMITnQDMnUbEak8nzwHQP6EAsBpFZUKKMXe6Kb48f59/KvepyPf4ohTkwOwm6CpoOmgaqOFcTq0BEYUygyaAbQReMATILYGSELy6d/3Yefm0nzodKM848s317Fc48mL0BsWA8AWrsjwK6KAZoEuhJ2GABaxnKrQCdV3q+HAqw909TcaSOgnVO8+nazWtdOMww5wNVAimFaUlUXOuJ9IoKkgXFb6Bj4PrZwVka3znN9N/Grbke28p82us2rd4p2w0QjUE8pYBSBZKoaJMuEQ4odAx4Prg5wYHmc0RFa+84x827yawqs17dUlm6lrCARdIkthAXLZFlvun3fO96O1a1cOTu+oD81JI1sGFd0XrmIonPp8BUeoGKNhklrgyO9W46Ple9JNj73nLdscIOYTG/OqiiofEKiT6La7GaZIZHb0+VNQWyF4VbG3jw4Iain7FlQlTMtfgBZVCSmPieigKqBgYTIf8MJz0TOYfd3E7hd2zFx/upf25NcQcZRjBYIWpg2uvj4oS3z4hsrsorWGPNzQE5BtEgTEdpuzG+ba+bC2nh7lcy3DvKSxox56L7QnznGfb8GAy1BA18JcUw2mVqK7PshzYXluRjN0Fokq5fPcdqTmpvpIUvH7L8sNFZUtk/7o9c8nlbvQru4x8xsrCHTXsozZd5qdrmeLnctowLE7c+2/Z+9Nm08KkX2WVW5IpRTeto/pC+dC/0o8+z0WmWayNovfvcdKWFF/s/W8r93wEXNn6y0D5eHwAAAABJRU5ErkJggg==)
            no-repeat
            left center;
}
