<aside>
  <h4>Getting Started</h4>
  <a href="http://indeedeng.github.io/proctor/">Introduction</a>
  {% include docs_ul.html items='quick-start installation terminology maven-modules' %}
  <h4>Application Usage</h4>
  {% include docs_ul.html items='specification codegen loader using-groups evaluating-tests best-practices' %}
  <h4>Test Matrix</h4>
    {% include docs_ul.html items='matrix-schema test-definition test-rules builder' %}  
  <h4>Deployment</h4>
  {% include docs_ul.html items='deploying-groups' %}
  <h4>Miscellaneous</h4>
  {% include docs_ul.html items='contributing license' %}  
</aside>
